body{
    margin:0;
    padding:0;
    display:flex;
    flex-direction:column;
    background-color:#E7CAD1;
    flex-wrap: wrap;
    justify-content: center;
    }
    .header{
        display:flex;
        flex-direction: row;
        flex-wrap:wrap;
        background-color:#403739;
        color:wheat;
        justify-content: center;
        justify-content: space-evenly;
        font-family:'Unica One';
        margin-bottom: 15px;
    }
    .wrapper{
        display:flex;
        justify-content: center;
        justify-content: space-evenly;
    }
    .content{
        display:flex;
        flex-direction: row;
        flex-grow: 960px;
        flex-shrink: 500px;
        justify-content: center;
        justify-content: space-evenly;
    }
    .box1{
        max-width: 320px; 
       display:flex;
       flex-wrap: wrap;
       flex-direction: column;
    }
    .box1>p{
        background-color: #BFA6AC
    }
    .image{
        border: 1px solid #BFA6AC;
        border-radius: 4px;
        background-color:#FEFBDC;
    }
    .box2{
        background-color:#FEFBDC;
        min-width:640px;
        padding:15px;
    }
    .box2>h1{
        color:#806F73;
        font-family: 'Cinzel Decorative';
    }
    .box2>p{
        color:#E3A59A;
        font-family:'Unica One';
    }
    p,ul {
        font-size: 1.1em;
      }
      @media screen and (max-width: 1000px) {
        .content {
            justify-content: center;
            display:flex;
            flex-direction: column;
            justify-content: space-evenly;
        }
        .box1{
            justify-content: center;
            max-width: 1200px;
            display:flex;
            flex-wrap: nowrap;
            flex-direction: row;
            justify-content: space-evenly;
        }
        .image{
            margin-bottom: 10px;
        }
      }